.hero-pattern {
  position: relative;
  background-image: radial-gradient(circle, #88898a 1px, transparent 1px);
  background-size: 24px 24px;
  background-position:  top;
  background-repeat: repeat;
  background-color: #ffffff;
}

.hero-pattern::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.637) 20%,
      rgba(255, 253, 253, 0.616) 50%,
      rgb(255, 255, 255) 70%,
      rgb(255, 255, 255) 90%,
      rgba(255, 255, 255, 1) 100%);
  pointer-events: none;
}

html {
  scroll-behavior: auto;
}

.container {
  max-width: 1200px;
}

body,
#root {
  margin: 0;
  padding: 0;
  min-height: 200px;
}
